@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: pokemon;
  src: url(fonts/pokemon.woff2);
};

.shiny-star {
  filter: invert(51%) sepia(75%) saturate(2979%) hue-rotate(324deg) brightness(101%) contrast(98%);
}

html:has(dialog[open]) {
  overflow: hidden;
}

.font-pacifico {
  font-family: Pacifico, cursive;
}

#ev-total[data-value="too-high"]::-webkit-progress-bar {
  border-radius: 0.25em;
  background-color: white;
  color: #f87171;
}
#ev-total[data-value="not-too-high"]::-webkit-progress-bar {
  border-radius: 0.25em;
  background-color: white;
  color: #38bdf8;
}

#ev-total[data-value="not-too-high"]::-webkit-progress-value {
  border-radius: 0.25em;
  background-color: #38bdf8;
}
#ev-total[data-value="not-too-high"]::-moz-progress-bar {
  color: #38bdf8;
}

#ev-total[data-value="too-high"]::-moz-progress-bar {
  color: #f87171;
}
#ev-total[data-value="too-high"]::-webkit-progress-value {
  border-radius: 0.25em;
  background-color: #f87171;
}
